mentoring-adf-tr/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mentoring-adf-tr"
		},
		"LS_AzureSQLMtdDriven_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().ConnectionString"
		},
		"LS_AzureSQL_DataMart_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "scrAzureSQLDataMart"
		},
		"LS_MSSQLCinemaTickets_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "scrMSSQLCinemaTickets"
		},
		"LS_MoviesAzureSqlDB_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "MoviesAzureSQLDBConnectionString"
		},
		"LS_azurementoringdatalaketr_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azurementoringdatalaketr.dfs.core.windows.net/"
		},
		"LS_blobOnline_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_blobOnline'"
		},
		"LS_blobOnline_properties_typeProperties_sasToken_secretName": {
			"type": "string",
			"defaultValue": "scrblobOnlineModule7"
		},
		"LS_mentoringBlobModule4_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_mentoringBlobModule4'"
		},
		"LS_mentoringBlobModule4_properties_typeProperties_sasToken_secretName": {
			"type": "string",
			"defaultValue": "metoringblobModule4"
		},
		"LS_mentoringkeyvaulttr_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://mentoring-key-vault-tr.vault.azure.net/"
		},
		"LS_metadatadriven_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_metadatadriven'"
		},
		"LS_metadatadriven_properties_typeProperties_sasToken_secretName": {
			"type": "string",
			"defaultValue": "scrMetadaDriven"
		},
		"LS_metnoringtr_moviescontainer_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_metnoringtr_moviescontainer'"
		},
		"LS_metnoringtr_moviescontainer_properties_typeProperties_sasToken_secretName": {
			"type": "string",
			"defaultValue": "metoringKeyValueSecret"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring12_Git')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_AzureSQL_stg_Module9",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "tables",
									"SchemaName": "information_schema",
									"ConnectionString": "MoviesAzureSQLDBConnectionString"
								}
							},
							"fieldList": [
								"columnCount"
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_stg_Module9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module10_Fail')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fail_Unit1",
						"type": "Fail",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@string('Fail activity Module 10 Chapter 1')",
								"type": "Expression"
							},
							"errorCode": "1000"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-20T10:23:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module10_Succeed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata Succeed",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_AzureSQL_stg_Module9",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "tables",
									"SchemaName": "information_schema",
									"ConnectionString": "MoviesAzureSQLDBConnectionString"
								}
							},
							"fieldList": [
								"columnCount"
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-20T11:38:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_stg_Module9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module11_logicApp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "WebHTTPPostUrlLogApp",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web get URL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@string(activity('Web get URL').output.value)",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n  \"receiver\" : \"@{pipeline().parameters.receiver}\",\n  \"pipelineName\" : \"@{pipeline().Pipeline}\", \n  \"pipelineStatus\" : \"@{activity('Execute Pipeline Succeed').Status}\", \n  \"TriggerType\" : \"@{pipeline().TriggerType}\",\n  \"RunID\": \"@{pipeline().RunId}\",\n  \"ExecutionStartTime\": \"@{formatDateTime(activity('Execute Pipeline Succeed').ExecutionStartTime, 'yyyy-MM-dd HH:mm:ss')}\" ,\n  \"ExecutionEndTime\": \"@{formatDateTime(activity('Execute Pipeline Succeed').ExecutionEndTime, 'yyyy-MM-dd HH:mm:ss')}\" ,\n  \"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n  \"errorMessage\": \"@{variables('ErrorMessage')}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Web get URL",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Pipeline Succeed",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().globalParameters.HTTPPostUrlLogApp",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Execute Pipeline Succeed",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AzureMentoring_Module10_Succeed",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Set variable Error message",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Execute Pipeline Succeed",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ErrorMessage",
							"value": {
								"value": "@concat('An error: ', activity('Execute Pipeline Succeed').error.Message)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "tatsiana_ramanenka1@epam.com"
					}
				},
				"variables": {
					"ErrorMessage": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-21T14:29:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module10_Succeed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get movies file names from blob",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_blobmovies",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy each file from blob into data lake",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get movies file names from blob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get movies file names from blob').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy movies from blob into data lake",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@string(item().name)",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "LS_azurementoringdatalaketr",
													"type": "LinkedServiceReference"
												},
												"path": "log"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_blobmovies",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_datalake_rowmovies",
											"type": "DatasetReference",
											"parameters": {
												"sinkfilename": {
													"value": "@concat(replace(string(item().name),'.csv',''), '_', variables('currentdate'), '.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"currentdate": {
						"type": "String",
						"defaultValue": "@formatDateTime(utcnow(),'yyyyMMddHHmmss')"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-22T00:43:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blobmovies')]",
				"[concat(variables('factoryId'), '/datasets/DS_datalake_rowmovies')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module2_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy movies from blob into data lake_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": {
										"value": "@concat(formatDateTime(utcNow(), variables('currentdate') ), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "LS_azurementoringdatalaketr",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_blobmovies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_datalake_rowmovies_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"currentdate": {
						"type": "String",
						"defaultValue": "@formatDateTime(utcnow(),'yyyyMMddHHmmss')"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-30T15:01:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blobmovies')]",
				"[concat(variables('factoryId'), '/datasets/DS_datalake_rowmovies_copy1')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy movies from blob into data lake_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": {
										"value": "@concat(formatDateTime(utcNow(), variables('currentdate') ), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "LS_azurementoringdatalaketr",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_blobModule4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_datalakeModule4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"currentdate": {
						"type": "String",
						"defaultValue": "@formatDateTime(utcnow(),'yyyyMMddHHmmss')"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-01-30T21:30:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blobModule4')]",
				"[concat(variables('factoryId'), '/datasets/DS_datalakeModule4')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get movies file names from blob",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Lkp_TruncateSTG",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_blobmovies",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Copy each file from blob into data lake",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get movies file names from blob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get movies file names from blob').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from csv into stg Azure SQL DB_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "pipelineId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												{
													"name": "source_filename",
													"value": {
														"value": "@replace(string(item().name),'.csv','')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": true,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_blobmovies_comma",
											"type": "DatasetReference",
											"parameters": {
												"filename": "@string(item().name)"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_moviesAzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@if(contains(string(item().name), 'rating')\n, 'ratings'\n, replace(string(item().name),'.csv','')\n)",
													"type": "Expression"
												},
												"schemaname": "stg"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lkp_TruncateSTG",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE stg.credits;\nSELECT COUNT(1) FROM stg.credits; \nTRUNCATE TABLE stg.movies_metadata;\nSELECT COUNT(1) FROM stg.movies_metadata;\nTRUNCATE TABLE stg.ratings;\nSELECT COUNT(1) FROM stg.rating;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Lkp Get SPs",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy each file from blob into data lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT trim([value]) AS value FROM \nstring_split ( 'dbo.spPopulateCast, dbo.spPopulateCompany, dbo.spPopulateGenre, dbo.spPopulateMovies, dbo.spPopulateMoviesCastMap, dbo.spPopulateMoviesCompanyMap, dbo.spPopulateMoviesGenreMap, dbo.spPopulateMovieStatus, dbo.spPopulatetRatings', ',')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachLoad fromSTGintoDBO",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lkp Get SPs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lkp Get SPs').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "SPs load from stg into dbo",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@string(item().value)",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MoviesAzureSqlDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"source_filename": {
						"type": "String",
						"defaultValue": "credits"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-06T10:32:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blobmovies')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDBNoPrmt')]",
				"[concat(variables('factoryId'), '/datasets/DS_blobmovies_comma')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module5_Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Module2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AzureMentoring_Module2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Module 5 Azure SQL DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Module2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AzureMentoring_Module5_stg_to_dbo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Module5 Arhive",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Module 5 Azure SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AzureMentoring_Module5_archivation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"source_filename": {
						"type": "String",
						"defaultValue": "credits"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-06T10:30:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module2')]",
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module5_stg_to_dbo')]",
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module5_archivation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module5_archivation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Move movies files from blob into data lake archive",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "LS_azurementoringdatalaketr",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_datalake_rowmovies_comma",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_datalake_rowmovies_archive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Delete from blob raw movies",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Move movies files from blob into data lake archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_datalake_rowmovies_comma",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_azurementoringdatalaketr",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false,
								"wildcardFileName": "*.csv",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"source_filename": {
						"type": "String",
						"defaultValue": "credits"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-10T00:51:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_datalake_rowmovies_comma')]",
				"[concat(variables('factoryId'), '/datasets/DS_datalake_rowmovies_archive')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module5_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lkp Get SPs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT trim([value]) AS value FROM \nstring_split ( 'dbo.spPopulateCast, dbo.spPopulateCompany, dbo.spPopulateGenre, dbo.spPopulateMovies, dbo.spPopulateMoviesCastMap, dbo.spPopulateMoviesCompanyMap, dbo.spPopulateMoviesGenreMap, dbo.spPopulateMovieStatus, dbo.spPopulatetRatings', ',')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachLoad fromSTGintoDBO",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lkp Get SPs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lkp Get SPs').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "SPs load from stg into dbo",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@string(item().value)",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MoviesAzureSqlDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-02T22:07:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDBNoPrmt')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module5_stg_to_dbo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy credits from csv into stg Azure SQL DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "pipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "source_filename",
										"value": {
											"value": "@string('credits.csv')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.credits;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_blobmovies_comma",
								"type": "DatasetReference",
								"parameters": {
									"filename": "credits.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "credits",
										"type": "Expression"
									},
									"schemaname": "stg"
								}
							}
						]
					},
					{
						"name": "Copy movies from csv into stg Azure SQL DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "pipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "source_filename",
										"value": {
											"value": "@string('movies_metadata.csv')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.movies_metadata;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_blobmovies_comma",
								"type": "DatasetReference",
								"parameters": {
									"filename": "movies_metadata.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "movies_metadata",
									"schemaname": "stg"
								}
							}
						]
					},
					{
						"name": "Copy ratings from csv into stg Azure SQL DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "pipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "source_filename",
										"value": "$$FILEPATH"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "ratings_part*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.ratings;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_blobmovies_ratings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": {
										"value": "ratings",
										"type": "Expression"
									},
									"schemaname": "stg"
								}
							}
						]
					},
					{
						"name": "Run General SP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy ratings from csv into stg Azure SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy movies from csv into stg Azure SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy credits from csv into stg Azure SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulatingSPQueue]"
						},
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-09T23:20:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blobmovies_comma')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_blobmovies_ratings')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy from MS SQL Tikets into Azure SQL movies",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Get WaterMarkValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM dbo.Tickets WHERE [transactionDt] > '@{activity('Lookup Get WaterMarkValue').output.firstRow.OldWmarkValue}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.cinema_tickets;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CinemaCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "cinema_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CinemaName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "cinema_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MovieId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "movie_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TicketCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ticket_count",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TicketPrice",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "ticket_price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDt",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "transaction_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_MSSQLCinemaTickets_M6",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "Tickets",
									"SchemaName": "dbo"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "cinema_tickets",
									"schemaname": "stg"
								}
							}
						]
					},
					{
						"name": "Lookup Get WaterMarkValue",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TransactionDate) AS OldWmarkValue \nFROM dbo.tCinemaTickets;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SP Populate Cinema from stg to dbo",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy from MS SQL Tikets into Azure SQL movies",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateCinema]",
							"storedProcedureParameters": {
								"getdate": {
									"value": {
										"value": "@variables('CurrentDate')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"CurrentDate": {
						"type": "String",
						"defaultValue": "@string(utcnow())"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-13T16:08:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_MSSQLCinemaTickets_M6')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDBNoPrmt')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module6_MultTables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LookupOldWaterMarkActivity",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from watermarktable where TableName  =  '@{item().TABLE_NAME}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_moviesAzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"tablename": "watermarktable",
												"schemaname": "dbo"
											}
										}
									}
								},
								{
									"name": "LookupNewWaterMarkActivity",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select ISNULL(MAX(@{item().WaterMark_Column}), getutcdate()) as NewWatermarkValue from @{item().TABLE_NAME}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_moviesAzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"tablename": "watermarktable",
												"schemaname": "dbo"
											}
										}
									}
								},
								{
									"name": "IncrementalCopyActivity",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LookupOldWaterMarkActivity",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "LookupNewWaterMarkActivity",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"sqlWriterStoredProcedureName": {
												"value": "@{item().StoredProcedureNameForMergeOperation}",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TableType}",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_MSSQLCinemaTickets_M6_WOPrmt",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_moviesAzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"tablename": "@{item().TABLE_NAME}",
												"schemaname": "dbo"
											}
										}
									]
								},
								{
									"name": "StoredProceduretoWriteWatermarkActivity",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "IncrementalCopyActivity",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_write_watermark]",
										"storedProcedureParameters": {
											"LastModifiedtime": {
												"value": {
													"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"TableName": {
												"value": {
													"value": "@{activity('LookupOldWaterMarkActivity').output.firstRow.TableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MoviesAzureSqlDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"tableList": {
						"type": "array",
						"defaultValue": [
							{
								"TABLE_NAME": "customer_table",
								"WaterMark_Column": "LastModifytime",
								"TableType": "DataTypeforCustomerTable",
								"StoredProcedureNameForMergeOperation": "usp_upsert_customer_table"
							},
							{
								"TABLE_NAME": "project_table",
								"WaterMark_Column": "Creationtime",
								"TableType": "DataTypeforProjectTable",
								"StoredProcedureNameForMergeOperation": "usp_upsert_project_table"
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-14T13:06:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_MSSQLCinemaTickets_M6_WOPrmt')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module7_JSON_To_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from Blob to Azure SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "source_filename",
										"value": "$$FILEPATH"
									},
									{
										"name": "pipelineId",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE stg.online_purchase;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['serviceName']"
										},
										"sink": {
											"name": "online_service_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['serviceCode']"
										},
										"sink": {
											"name": "online_service_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['movieId']"
										},
										"sink": {
											"name": "movie_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['userId']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['price']"
										},
										"sink": {
											"name": "price",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['transaction']['id']"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['transaction']['datetime']"
										},
										"sink": {
											"name": "transaction_date",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['source_filename']"
										},
										"sink": {
											"name": "source_filename",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['pipelineId']"
										},
										"sink": {
											"name": "pipelineId",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DLOnline",
								"type": "DatasetReference",
								"parameters": {
									"folder": "raw/online"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "online_purchase",
									"schemaname": "stg"
								}
							}
						]
					},
					{
						"name": "SP spPopulateOnline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data from Blob to Azure SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateOnline]",
							"storedProcedureParameters": {
								"getdate": {
									"value": {
										"value": "@variables('getdate')",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Move movies files into raw_online_archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP spPopulateOnline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "LS_azurementoringdatalaketr",
										"type": "LinkedServiceReference"
									},
									"path": "log"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_DLOnline",
								"type": "DatasetReference",
								"parameters": {
									"folder": "raw/online"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DLOnline",
								"type": "DatasetReference",
								"parameters": {
									"folder": "raw/online/archive"
								}
							}
						]
					},
					{
						"name": "Delete from blob raw movies",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Move movies files into raw_online_archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_DLOnline",
								"type": "DatasetReference",
								"parameters": {
									"folder": "raw/online/"
								}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_azurementoringdatalaketr",
									"type": "LinkedServiceReference"
								},
								"path": "log"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false,
								"wildcardFileName": "*.json",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"getdate": {
						"type": "String",
						"defaultValue": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-21T16:12:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_DLOnline')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module7_blob_to_DL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupOldWaterMarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "IF EXISTS (SELECT 1 FROM watermarktable where TableName  =  'online_table') \nselect WatermarkValue from watermarktable where TableName  =  'online_table'\nELSE\nselect cast( @{variables('LastLoadDate')} AS datetime) AS WatermarkValue ",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "watermarktable",
									"schemaname": "dbo"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Get Files Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SourceDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue ",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@variables('NewLoadDate')",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Set variable FilesCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Files Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FilesCount",
							"value": {
								"value": "@string(length(activity('Get Files Metadata').output.childItems))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Loading Condition",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set variable FilesCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(variables('FilesCount'), '0')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_FromBlobToDL_Online",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "online//"
										},
										{
											"name": "Destination",
											"value": "raw/online/"
										}
									],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"modifiedDatetimeStart": {
													"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue",
													"type": "Expression"
												},
												"modifiedDatetimeEnd": {
													"value": "@variables('NewLoadDate')",
													"type": "Expression"
												},
												"wildcardFileName": "*",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"skipErrorFile": {
											"fileMissing": true
										},
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_7o8",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_7o8",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "SP usp_write_watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If Loading Condition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_write_watermark]",
							"storedProcedureParameters": {
								"TableName": {
									"value": "online_table",
									"type": "String"
								},
								"LastModifiedtime": {
									"value": {
										"value": "@{variables('NewLoadDate')}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"LastLoadDate": {
						"type": "String",
						"defaultValue": "'1900-01-01'"
					},
					"NewLoadDate": {
						"type": "String",
						"defaultValue": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')"
					},
					"FilesCount": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-22T15:37:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7o8')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_7o8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module7_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Online files from blob to DL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AzureMentoring_Module7_blob_to_DL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy DL files into Azure SQL stg stg_dbo archivation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Online files from blob to DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AzureMentoring_Module7_JSON_To_AzureSQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-21T16:12:28Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module7_blob_to_DL')]",
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module7_JSON_To_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module8')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow Movie to Dims",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataMart_DimDataflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourcetMovies": {
										"tablename": "tMovies",
										"schemaname": "dbo"
									},
									"SourcetMovieStatus": {
										"tablename": "tMovieStatus",
										"schemaname": "dbo"
									},
									"SourcetOnlineService": {
										"tablename": "tOnlineService",
										"schemaname": "dbo"
									},
									"DimMovieSink": {
										"tablename": "DimMovieSink",
										"schemaname": "dbo"
									},
									"DimOnlineServicesink": {
										"tablename": "DimOnlineService",
										"schemaname": "dbo"
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IR-Module8",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Data flow for Facts",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Data flow Movie to Dims",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DataMart_FactDataflow_copy1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourcetOnlinePurchase": {
										"tablename": "tOnlinePurchase",
										"schemaname": "dbo"
									},
									"sourcetOnlineService": {
										"tablename": "tOnlineService",
										"schemaname": "dbo"
									},
									"sourcetMovies": {
										"tablename": "tMovies",
										"schemaname": "dbo"
									},
									"sourceDimMovie": {
										"tablename": "DimMovie",
										"schemaname": "dbo"
									},
									"sourceDimOnlineService": {
										"tablename": "DimOnlineService",
										"schemaname": "dbo"
									},
									"sinkFactOnlinePurchaseMonthlySnapshot": {
										"tablename": "FactOnlinePurchase_MonthlySnapshot",
										"schemaname": "dbo"
									},
									"FactOnlinePurchase": {
										"tablename": "FactOnlinePurchase",
										"schemaname": "dbo"
									}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "IR-Module8",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-01T12:34:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DataMart_DimDataflow')]",
				"[concat(variables('factoryId'), '/integrationRuntimes/IR-Module8')]",
				"[concat(variables('factoryId'), '/dataflows/DataMart_FactDataflow_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module8_woDtaFlow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM Copy OnlineService data from movie into aggr tbl",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[spGetDataForAggretatePurchase]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.AggretatePurchase;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ServiceId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ServiceId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ServiceCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ServiceName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PurchaseQuantity",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "PurchaseQuantity",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PurchaseAmount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 10
										},
										"sink": {
											"name": "PurchaseAmount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "MonthKey",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MonthKey",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MovieIdNK",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MovieIdNK",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TransactionDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "AggretatePurchase",
									"schemaname": "dbo"
								}
							}
						]
					},
					{
						"name": "SP Populate Facts and DimOnlineService",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM Copy OnlineService data from movie into aggr tbl",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DIM Copy Movies from movie to DM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spPopulateFactOnlinePurchase]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_DataMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DIM Copy Movies from movie to DM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT m.MovieIdNK, m.Title, m.ReleaseDate, m.Runtime, ms.MovieStatusName AS MovieStatus, getutcdate() AS CreatedDate, getutcdate() AS ModifiedDate\nFROM dbo.tMovies m\nJOIN dbo.tMovieStatus ms ON m.MovieStatusId = ms.MovieStatusId",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.DimMovie;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "DimMovie",
									"schemaname": "dbo"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-27T16:03:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDBNoPrmt')]",
				"[concat(variables('factoryId'), '/datasets/DS_DataMartAzureSQLDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_DataMart')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module8_woDtaFlow_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM Copy OnlineService data from movie into aggr tbl",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "   SELECT  os.ServiceCode, os.ServiceName, op.ServiceId, op.id,\n    op.Price , m.MovieIdNK, op.TransactionId, op.TransactionDate\n   FROM dbo.tOnlinePurchase op\n   LEFT JOIN dbo.tMovies m ON op.MovieId = m.MovieId\n   RIGHT JOIN dbo.tOnlineService os ON os.ServiceId = op.ServiceId",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.AggretatePurchase;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ServiceId",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ServiceId",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ServiceCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ServiceName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ServiceName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										},
										"sink": {
											"name": "Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 4
										}
									},
									{
										"source": {
											"name": "MovieIdNK",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MovieIdNK",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TransactionDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "OnlinePurchase",
									"schemaname": "dbo"
								}
							}
						]
					},
					{
						"name": "SP Populate Facts and DimOnlineService",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM Copy OnlineService data from movie into aggr tbl",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DIM Copy Movies from movie to DM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spNotAggrPopulateFactOnlinePurchase]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_DataMart",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DIM Copy Movies from movie to DM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT m.MovieIdNK, m.Title, m.ReleaseDate, m.Runtime, ms.MovieStatusName AS MovieStatus, getutcdate() AS CreatedDate, getutcdate() AS ModifiedDate\nFROM dbo.tMovies m\nJOIN dbo.tMovieStatus ms ON m.MovieStatusId = ms.MovieStatusId",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.DimMovie;",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_moviesAzureSQLDBNoPrmt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "DimMovie",
									"schemaname": "dbo"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-27T23:05:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDBNoPrmt')]",
				"[concat(variables('factoryId'), '/datasets/DS_DataMartAzureSQLDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_DataMart')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module9')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "metadata",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate stg tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AzureSQL_stg_Module9",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "tControlMetadata",
									"SchemaName": "etl",
									"ConnectionString": "MoviesAzureSQLDBConnectionString"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach row of metadata",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('metadata').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from DL to stg",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "source_filename",
													"value": "$$FILEPATH"
												},
												{
													"name": "pipelineId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "/*EXECUTE('TRUNCATE TABLE @{item().TrgSchemaName}' +'.'+ '@{item().TrgTableName}');*/",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"dataIntegrationUnits": {
											"value": "@item().DIUValue",
											"type": "Expression"
										},
										"translator": {
											"value": "@json(item().Mapping)",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DS_dl_Module9",
											"type": "DatasetReference",
											"parameters": {
												"SecretKey": "scrMetadaDriven",
												"File": {
													"value": "@item().SrcFileName",
													"type": "Expression"
												},
												"ColumnDelimiter": {
													"value": "@item().SrcColumnDelimiter",
													"type": "Expression"
												},
												"EscapeCharacter": {
													"value": "@item().SrcEscapeCharacter",
													"type": "Expression"
												},
												"QuoteCharacter": {
													"value": "@item().SrcQuoteCharacter",
													"type": "Expression"
												},
												"Encoding": {
													"value": "@item().SrcEncoding",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@item().SrcContainer",
													"type": "Expression"
												},
												"FolderName": {
													"value": "@item().SrcFolder",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQL_stg_Module9",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().TrgTableName",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().TrgSchemaName",
													"type": "Expression"
												},
												"ConnectionString": "MoviesAzureSQLDBConnectionString"
											}
										}
									]
								},
								{
									"name": "SP LoggingMetadata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy from DL to stg",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[etl].[LoggingMetadata]",
										"storedProcedureParameters": {
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityRunID": {
												"value": {
													"value": "@activity('Copy from DL to stg').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"JSON": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output)",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"StartDateTime": {
												"value": {
													"value": "@activity('Copy from DL to stg').ExecutionStartTime",
													"type": "Expression"
												},
												"type": "Datetimeoffset"
											},
											"EndDateTime": {
												"value": {
													"value": "@activity('Copy from DL to stg').ExecutionEndTime",
													"type": "Expression"
												},
												"type": "Datetimeoffset"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLMtdDriven",
										"type": "LinkedServiceReference",
										"parameters": {
											"ConnectionString": "MoviesAzureSQLDBConnectionString"
										}
									}
								},
								{
									"name": "SP LoggingMetadataError",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy from DL to stg",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[etl].[LoggingMetadataError]",
										"storedProcedureParameters": {
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityRunID": {
												"value": {
													"value": "@activity('Copy from DL to stg').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": {
													"value": "@string('Copy from DL to stg')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.errors[0].Message)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorCode": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.errors[0].Code)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorType": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.errors[0].EventType)",
													"type": "Expression"
												},
												"type": "String"
											},
											"FailDateTime": {
												"value": {
													"value": "@activity('Copy from DL to stg').ExecutionEndTime",
													"type": "Expression"
												},
												"type": "Datetimeoffset"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLMtdDriven",
										"type": "LinkedServiceReference",
										"parameters": {
											"ConnectionString": "MoviesAzureSQLDBConnectionString"
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncate stg tables",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE stg.credits;\nTRUNCATE TABLE stg.ratings;\nTRUNCATE TABLE stg.movies_metadata;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-16T22:00:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_stg_Module9')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_dl_Module9')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLMtdDriven')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMentoring_Module9_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "metadata",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Truncate stg tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AzureSQL_stg_Module9",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "tControlMetadata",
									"SchemaName": "etl",
									"ConnectionString": "MoviesAzureSQLDBConnectionString"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach row of metadata",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('metadata').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from DL to stg",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "source_filename",
													"value": "$$FILEPATH"
												},
												{
													"name": "pipelineId",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "/*EXECUTE('TRUNCATE TABLE @{item().TrgSchemaName}' +'.'+ '@{item().TrgTableName}');*/",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"dataIntegrationUnits": {
											"value": "@item().DIUValue",
											"type": "Expression"
										},
										"translator": {
											"value": "@json(item().Mapping)",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DS_dl_Module9",
											"type": "DatasetReference",
											"parameters": {
												"SecretKey": "scrMetadaDriven",
												"File": {
													"value": "@item().SrcFileName",
													"type": "Expression"
												},
												"ColumnDelimiter": {
													"value": "@item().SrcColumnDelimiter",
													"type": "Expression"
												},
												"EscapeCharacter": {
													"value": "@item().SrcEscapeCharacter",
													"type": "Expression"
												},
												"QuoteCharacter": {
													"value": "@item().SrcQuoteCharacter",
													"type": "Expression"
												},
												"Encoding": {
													"value": "@item().SrcEncoding",
													"type": "Expression"
												},
												"ContainerName": {
													"value": "@item().SrcContainer",
													"type": "Expression"
												},
												"FolderName": {
													"value": "@item().SrcFolder",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQL_stg_Module9",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@item().TrgTableName",
													"type": "Expression"
												},
												"SchemaName": {
													"value": "@item().TrgSchemaName",
													"type": "Expression"
												},
												"ConnectionString": "MoviesAzureSQLDBConnectionString"
											}
										}
									]
								},
								{
									"name": "SP LoggingMetadata",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy from DL to stg",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[etl].[LoggingMetadata]",
										"storedProcedureParameters": {
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityRunID": {
												"value": {
													"value": "@activity('Copy from DL to stg').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"JSON": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output)",
													"type": "Expression"
												},
												"type": "String"
											},
											"MeterType": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.billingReference.billableDuration[0].metertype)",
													"type": "Expression"
												},
												"type": "String"
											},
											"duration": {
												"value": {
													"value": "@float(activity('Copy from DL to stg').output.billingReference.billableDuration[0].duration)",
													"type": "Expression"
												},
												"type": "Decimal"
											},
											"unit": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.billingReference.billableDuration[0].unit)",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLMtdDriven",
										"type": "LinkedServiceReference",
										"parameters": {
											"ConnectionString": "MoviesAzureSQLDBConnectionString"
										}
									}
								},
								{
									"name": "SP LoggingMetadataError",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy from DL to stg",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[etl].[LoggingMetadataError]",
										"storedProcedureParameters": {
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityRunID": {
												"value": {
													"value": "@activity('Copy from DL to stg').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ActivityName": {
												"value": {
													"value": "@string('Copy from DL to stg')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.errors[0].Message)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorCode": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.errors[0].Code)",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorType": {
												"value": {
													"value": "@string(activity('Copy from DL to stg').output.errors[0].EventType)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQLMtdDriven",
										"type": "LinkedServiceReference",
										"parameters": {
											"ConnectionString": "MoviesAzureSQLDBConnectionString"
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncate stg tables",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "TRUNCATE TABLE stg.credits;\nTRUNCATE TABLE stg.ratings;\nTRUNCATE TABLE stg.movies_metadata;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-16T21:42:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_stg_Module9')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_dl_Module9')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLMtdDriven')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFromBlobIntoDLOnline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_7o8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "online//"
							},
							{
								"name": "Destination",
								"value": "raw/online/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"metadata": [
										{
											"name": "LastModifiedDate",
											"value": "$$LASTMODIFIED"
										}
									]
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"skipErrorFile": {
								"fileMissing": true
							},
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LookupOldWaterMarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "IF EXISTS (SELECT 1 FROM watermarktable where TableName  =  'online_table') \nselect WatermarkValue from watermarktable where TableName  =  'online_table'\nELSE\nselect cast('1900-01-01' as datetime) AS WatermarkValue ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "watermarktable",
									"schemaname": "dbo"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set New MaterMark Date",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy_7o8",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "IF NOT EXISTS (SELECT 1 FROM dbo.watermarktable WHERE TableName = 'online_table') \nINSERT INTO dbo.watermarktable VALUES ('online_table', '@{variables('LastLoadDate')}')\nELSE \nUPDATE dbo.watermarktable\nSET WatermarkValue = '@{variables('LastLoadDate')}'\nWHERE TableName = 'online_table'\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Get NewWaterMark",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SourceDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get NewWaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get NewWaterMark').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SourceDataset_7o8_copy1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "LastLoadDate",
										"value": {
											"value": "@activity('Get Metadata1').output.lastModified",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"LastLoadDate": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-20T15:24:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7o8')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_7o8')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7o8_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFromBlobIntoDLOnlineSimple')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupOldWaterMarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "IF EXISTS (SELECT 1 FROM watermarktable where TableName  =  'online_table') \nselect WatermarkValue from watermarktable where TableName  =  'online_table'\nELSE\nselect cast( @{variables('LastLoadDate')} AS datetime) AS WatermarkValue ",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "watermarktable",
									"schemaname": "dbo"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Get Files Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SourceDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": {
									"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue ",
									"type": "Expression"
								},
								"modifiedDatetimeEnd": {
									"value": "@variables('NewLoadDate')",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Set variable FilesCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Files Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "FilesCount",
							"value": {
								"value": "@string(length(activity('Get Files Metadata').output.childItems))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Loading Condition",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set variable FilesCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(variables('FilesCount'), '0')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy_7o8",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "online//"
										},
										{
											"name": "Destination",
											"value": "raw/online/"
										}
									],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": false,
												"modifiedDatetimeStart": {
													"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue",
													"type": "Expression"
												},
												"wildcardFileName": "*",
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"metadata": [
													{
														"name": "LastModifiedDate",
														"value": "$$LASTMODIFIED"
													}
												]
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"skipErrorFile": {
											"fileMissing": true
										},
										"validateDataConsistency": false
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_7o8",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_7o8",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Set New MaterMark Date",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Copy_7o8",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_MoviesAzureSqlDB",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "NonQuery",
												"text": {
													"value": "IF NOT EXISTS (SELECT 1 FROM dbo.watermarktable WHERE TableName = 'online_table') \nINSERT INTO dbo.watermarktable VALUES ('online_table', cast('@{variables('NewLoadDate')}' AS datetime))\nELSE \nUPDATE dbo.watermarktable\nSET WatermarkValue = cast( '@{variables('NewLoadDate')}' AS datetime)\nWHERE TableName = 'online_table'\n",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"LastLoadDate": {
						"type": "String",
						"defaultValue": "'1900-01-01'"
					},
					"NewLoadDate": {
						"type": "String",
						"defaultValue": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')"
					},
					"FilesCount": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-21T10:35:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7o8')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_7o8')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFromBlobIntoDLOnline_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_7o8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "online//"
							},
							{
								"name": "Destination",
								"value": "raw/online/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"metadata": [
										{
											"name": "LastModifiedDate",
											"value": "$$LASTMODIFIED"
										}
									]
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"skipErrorFile": {
								"fileMissing": true
							},
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LookupOldWaterMarkActivity",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "IF EXISTS (SELECT 1 FROM watermarktable where TableName  =  'online_table') \nselect WatermarkValue from watermarktable where TableName  =  'online_table'\nELSE\nselect cast('1900-01-01' as datetime) AS WatermarkValue ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference",
								"parameters": {
									"tablename": "watermarktable",
									"schemaname": "dbo"
								}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set New MaterMark Date",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy_7o8",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_MoviesAzureSqlDB",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "IF NOT EXISTS (SELECT 1 FROM dbo.watermarktable WHERE TableName = 'online_table') \nINSERT INTO dbo.watermarktable VALUES ('online_table', '@{variables('LastLoadDate')}')\nELSE \nUPDATE dbo.watermarktable\nSET WatermarkValue = '@{variables('LastLoadDate')}'\nWHERE TableName = 'online_table'\n",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Get NewWaterMark",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SourceDataset_7o8",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get NewWaterMark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LookupOldWaterMarkActivity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get NewWaterMark').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "SourceDataset_7o8_copy1",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "BinaryReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('Get Metadata1').output.lastModified , activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue )",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "LastLoadDate",
													"value": {
														"value": "@activity('Get Metadata1').output.lastModified",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"LastLoadDate": {
						"type": "String",
						"defaultValue": "'1900-01-01'"
					},
					"MaxLoadDate": {
						"type": "String",
						"defaultValue": "'1900-01-01'"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-02-20T15:24:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7o8')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_7o8')]",
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]",
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7o8_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL_stg_Module9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLMtdDriven",
					"type": "LinkedServiceReference",
					"parameters": {
						"ConnectionString": {
							"value": "@dataset().ConnectionString",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"TableName": {
						"type": "string",
						"defaultValue": "tables"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "information_schema"
					},
					"ConnectionString": {
						"type": "string",
						"defaultValue": "MoviesAzureSQLDBConnectionString"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQLMtdDriven')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DLOnline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataMartAzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_DataMart",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					},
					"schemaname": {
						"type": "string",
						"defaultValue": "stg"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_DataMart')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataMartAzureSQLDB_WOPrmt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_DataMart",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_DataMart')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MSSQLCinemaTickets_M6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MSSQLCinemaTickets",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					},
					"SchemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MSSQLCinemaTickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MSSQLCinemaTickets_M6_WOPrmt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MSSQLCinemaTickets",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MSSQLCinemaTickets')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blobModule4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_mentoringBlobModule4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "ratings"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringBlobModule4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blobOnline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_blobOnline",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().folder",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_blobOnline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blobmovies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_metnoringtr_moviescontainer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "movies"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_metnoringtr_moviescontainer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blobmovies_comma')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_metnoringtr_moviescontainer",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"container": "movies"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_metnoringtr_moviescontainer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blobmovies_ratings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_metnoringtr_moviescontainer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "movies"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_metnoringtr_moviescontainer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalakeModule4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "module4"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalake_rowmovies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sinkfilename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().sinkfilename",
							"type": "Expression"
						},
						"folderPath": "movies",
						"fileSystem": "raw"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalake_rowmovies_archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "movies/archive",
						"fileSystem": "raw"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalake_rowmovies_comma')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "movies",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_datalake_rowmovies_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "movies",
						"fileSystem": "raw"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_dl_Module9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_metadatadriven",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SecretKey": {
						"type": "string",
						"defaultValue": "scrMetadaDriven"
					},
					"File": {
						"type": "string",
						"defaultValue": "credits.csv"
					},
					"ColumnDelimiter": {
						"type": "string",
						"defaultValue": ","
					},
					"EscapeCharacter": {
						"type": "string",
						"defaultValue": "\""
					},
					"QuoteCharacter": {
						"type": "string",
						"defaultValue": "\""
					},
					"Encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"ContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"FolderName": {
						"type": "string",
						"defaultValue": "metadata-driven"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FolderName",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().ColumnDelimiter",
						"type": "Expression"
					},
					"encodingName": {
						"value": "@dataset().Encoding",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().EscapeCharacter",
						"type": "Expression"
					},
					"firstRowAsHeader": true,
					"quoteChar": {
						"value": "@dataset().QuoteCharacter",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_metadatadriven')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_moviesAzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MoviesAzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					},
					"schemaname": {
						"type": "string",
						"defaultValue": "stg"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_moviesAzureSQLDBNoPrmt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MoviesAzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MoviesAzureSqlDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_7o8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azurementoringdatalaketr",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "online",
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azurementoringdatalaketr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_7o8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_blobOnline",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "online"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_blobOnline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_7o8_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_blobOnline",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"container": "online"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_blobOnline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQLMtdDriven')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ConnectionString": {
						"type": "string",
						"defaultValue": "MoviesAzureSQLDBConnectionString"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "[parameters('LS_AzureSQLMtdDriven_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_DataMart')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_AzureSQL_DataMart_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MSSQLCinemaTickets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_MSSQLCinemaTickets_properties_typeProperties_connectionString_secretName')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIR')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MoviesAzureSqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_MoviesAzureSqlDB_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_azurementoringdatalaketr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_azurementoringdatalaketr_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_blobOnline')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_blobOnline_sasUri')]",
					"sasToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_blobOnline_properties_typeProperties_sasToken_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_mentoringBlobModule4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_mentoringBlobModule4_sasUri')]",
					"sasToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_mentoringBlobModule4_properties_typeProperties_sasToken_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_mentoringkeyvaulttr')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_mentoringkeyvaulttr_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_metadatadriven')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_metadatadriven_sasUri')]",
					"sasToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_metadatadriven_properties_typeProperties_sasToken_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_metnoringtr_moviescontainer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_metnoringtr_moviescontainer_sasUri')]",
					"sasToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_mentoringkeyvaulttr",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('LS_metnoringtr_moviescontainer_properties_typeProperties_sasToken_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_mentoringkeyvaulttr')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trModule6_IncrLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "AzureMentoring_Module6",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-02-13T16:30:00Z",
						"endTime": "2023-02-15T16:30:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								33
							],
							"hours": [
								16
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AzureMentoring_Module6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureEastAustraliaIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Australia East",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-Module8')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "France Central",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataMart_DimDataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "SourcetMovies"
						},
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "SourcetMovieStatus"
						},
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "SourcetOnlineService"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "DimMovieSink"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "DimOnlineServicesink"
						}
					],
					"transformations": [
						{
							"name": "joinMovies"
						},
						{
							"name": "DimMoviederivedColumns"
						},
						{
							"name": "DimOnlineServicederivedColumns"
						},
						{
							"name": "AlterDimMovie"
						}
					],
					"scriptLines": [
						"source(output(",
						"          MovieId as integer,",
						"          MovieIdNK as integer,",
						"          Budget as integer,",
						"          HomepagePath as string,",
						"          Title as string,",
						"          OriginalTitle as string,",
						"          ReleaseDate as date,",
						"          Revenue as long,",
						"          Runtime as integer,",
						"          MovieStatusId as integer,",
						"          AvgVote as decimal(3,1),",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourcetMovies",
						"source(output(",
						"          MovieStatusId as integer,",
						"          MovieStatusName as string,",
						"          CreatedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourcetMovieStatus",
						"source(output(",
						"          ServiceId as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourcetOnlineService",
						"SourcetMovies, SourcetMovieStatus join(SourcetMovies@MovieStatusId == SourcetMovieStatus@MovieStatusId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMovies",
						"joinMovies derive(CreatedDate = currentUTC('AEST'),",
						"          ModifiedDate = currentUTC('AEST')) ~> DimMoviederivedColumns",
						"SourcetOnlineService derive(CreatedDate = currentUTC('AEST'),",
						"          ModifiedDate = currentUTC('AEST')) ~> DimOnlineServicederivedColumns",
						"DimMoviederivedColumns alterRow(upsertIf(true())) ~> AlterDimMovie",
						"AlterDimMovie sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:true,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['MovieIdNK'],",
						"     format: 'table',",
						"     preSQLs:['/* TRUNCATE TABLE dbo.DimMovie ;\\nSET IDENTITY_INSERT dbo.DimMovie ON; */'],",
						"     postSQLs:['/* SET IDENTITY_INSERT dbo.DimMovie OFF; */'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          MovieIdNK,",
						"          Title,",
						"          ReleaseDate,",
						"          Runtime,",
						"          MovieStatus = MovieStatusName,",
						"          CreatedDate,",
						"          ModifiedDate",
						"     )) ~> DimMovieSink",
						"DimOnlineServicederivedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ServiceCode,",
						"          ServiceName,",
						"          CreatedDate,",
						"          ModifiedDate",
						"     )) ~> DimOnlineServicesink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_DataMartAzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataMart_FactDataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourcetOnlinePurchase"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourceDimOnlineService2"
						},
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourcetOnlineService"
						},
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourcetMovies"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourceDimMovie"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourceDimOnlineService"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sinkFactOnlinePurchaseMonthlySnapshot"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "FactOnlinePurchase"
						}
					],
					"transformations": [
						{
							"name": "aggregatetOnlinePurchase"
						},
						{
							"name": "jointOnlinePurchaseDimOnlineService"
						},
						{
							"name": "joinOnlinePurchaseAggregate"
						},
						{
							"name": "jointMoviesDimMovies"
						},
						{
							"name": "joinMoviesOnlinePurchase"
						},
						{
							"name": "selectMoviesOnlinePurchase"
						},
						{
							"name": "joinOnlineServiceMoviesPurchase"
						},
						{
							"name": "joinFinall"
						},
						{
							"name": "derivedColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as integer,",
						"          ServiceId as integer,",
						"          MovieId as integer,",
						"          UserId as integer,",
						"          Price as decimal(4,1),",
						"          TransactionId as string,",
						"          TransactionDate as timestamp,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcetOnlinePurchase",
						"source(output(",
						"          ServiceKey as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDimOnlineService2",
						"source(output(",
						"          ServiceId as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcetOnlineService",
						"source(output(",
						"          MovieId as integer,",
						"          MovieIdNK as integer,",
						"          Budget as integer,",
						"          HomepagePath as string,",
						"          Title as string,",
						"          OriginalTitle as string,",
						"          ReleaseDate as date,",
						"          Revenue as long,",
						"          Runtime as integer,",
						"          MovieStatusId as integer,",
						"          AvgVote as decimal(3,1),",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcetMovies",
						"source(output(",
						"          MovieKey as integer,",
						"          MovieIdNK as integer,",
						"          Title as string,",
						"          ReleaseDate as date,",
						"          Runtime as integer,",
						"          MovieStatus as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDimMovie",
						"source(output(",
						"          ServiceKey as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDimOnlineService",
						"sourcetOnlinePurchase aggregate(groupBy(ServiceId,",
						"          MonthKey = substring(replace(toString(toDate(TransactionDate)),'-',''),1,6)),",
						"     PurchaseAmount = sum(toInteger(Price)),",
						"          PurchaseQuantity = count(toInteger(Id))) ~> aggregatetOnlinePurchase",
						"sourceDimOnlineService2, sourcetOnlineService join(sourceDimOnlineService2@ServiceCode == sourcetOnlineService@ServiceCode",
						"     && sourceDimOnlineService2@ServiceName == sourcetOnlineService@ServiceName,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> jointOnlinePurchaseDimOnlineService",
						"jointOnlinePurchaseDimOnlineService, aggregatetOnlinePurchase join(sourcetOnlineService@ServiceId == aggregatetOnlinePurchase@ServiceId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnlinePurchaseAggregate",
						"sourceDimMovie, sourcetMovies join(sourceDimMovie@MovieIdNK == sourcetMovies@MovieIdNK,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> jointMoviesDimMovies",
						"jointMoviesDimMovies, sourcetOnlinePurchase join(sourcetMovies@MovieId == sourcetOnlinePurchase@MovieId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMoviesOnlinePurchase",
						"joinMoviesOnlinePurchase select(mapColumn(",
						"          MovieKey,",
						"          MovieIdNK = sourceDimMovie@MovieIdNK,",
						"          MovieId = sourcetMovies@MovieId,",
						"          ServiceId,",
						"          Price,",
						"          TransactionId,",
						"          TransactionDate",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectMoviesOnlinePurchase",
						"sourcetOnlineService, selectMoviesOnlinePurchase join(sourcetOnlineService@ServiceId == selectMoviesOnlinePurchase@ServiceId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnlineServiceMoviesPurchase",
						"joinOnlineServiceMoviesPurchase, sourceDimOnlineService join(sourcetOnlineService@ServiceCode == sourceDimOnlineService@ServiceCode",
						"     && sourcetOnlineService@ServiceName == sourceDimOnlineService@ServiceName,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinFinall",
						"joinFinall derive(TransactionDate = replace(toString(toDate(TransactionDate)), '-', '')) ~> derivedColumns",
						"joinOnlinePurchaseAggregate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          MonthKey,",
						"          OnlineServiceKey = ServiceKey,",
						"          PurchaseAmount,",
						"          PurchaseQuantity",
						"     )) ~> sinkFactOnlinePurchaseMonthlySnapshot",
						"derivedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          OnlineServiceKey = ServiceKey,",
						"          MovieKey,",
						"          Price,",
						"          TransactionId,",
						"          DateKey = TransactionDate",
						"     )) ~> FactOnlinePurchase"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_DataMartAzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataMart_FactDataflow_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourcetOnlinePurchase"
						},
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourcetOnlineService"
						},
						{
							"dataset": {
								"referenceName": "DS_moviesAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourcetMovies"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourceDimMovie"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sourceDimOnlineService"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "sinkFactOnlinePurchaseMonthlySnapshot"
						},
						{
							"dataset": {
								"referenceName": "DS_DataMartAzureSQLDB",
								"type": "DatasetReference"
							},
							"name": "FactOnlinePurchase"
						}
					],
					"transformations": [
						{
							"name": "aggregatetOnlinePurchase"
						},
						{
							"name": "jointOnlinePurchaseDimOnlineService"
						},
						{
							"name": "joinOnlinePurchaseAggregate"
						},
						{
							"name": "jointMoviesDimMovies"
						},
						{
							"name": "joinMoviesOnlinePurchase"
						},
						{
							"name": "joinOnlineServiceMoviesPurchase"
						},
						{
							"name": "joinFinall"
						},
						{
							"name": "derivedColumns"
						},
						{
							"name": "FinalSelect"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Id as integer,",
						"          ServiceId as integer,",
						"          MovieId as integer,",
						"          UserId as integer,",
						"          Price as decimal(4,1),",
						"          TransactionId as string,",
						"          TransactionDate as timestamp,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcetOnlinePurchase",
						"source(output(",
						"          ServiceId as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcetOnlineService",
						"source(output(",
						"          MovieId as integer,",
						"          MovieIdNK as integer,",
						"          Budget as integer,",
						"          HomepagePath as string,",
						"          Title as string,",
						"          OriginalTitle as string,",
						"          ReleaseDate as date,",
						"          Revenue as long,",
						"          Runtime as integer,",
						"          MovieStatusId as integer,",
						"          AvgVote as decimal(3,1),",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp,",
						"          SrcFileName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourcetMovies",
						"source(output(",
						"          MovieKey as integer,",
						"          MovieIdNK as integer,",
						"          Title as string,",
						"          ReleaseDate as date,",
						"          Runtime as integer,",
						"          MovieStatus as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDimMovie",
						"source(output(",
						"          ServiceKey as integer,",
						"          ServiceCode as string,",
						"          ServiceName as string,",
						"          CreatedDate as timestamp,",
						"          ModifiedDate as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sourceDimOnlineService",
						"sourcetOnlinePurchase aggregate(groupBy(ServiceId,",
						"          MonthKey = substring(replace(toString(toDate(TransactionDate)),'-',''),1,6)),",
						"     PurchaseAmount = sum(toInteger(Price)),",
						"          PurchaseQuantity = count(toInteger(Id))) ~> aggregatetOnlinePurchase",
						"sourceDimOnlineService, sourcetOnlineService join(sourceDimOnlineService@ServiceCode == sourcetOnlineService@ServiceCode",
						"     && sourceDimOnlineService@ServiceName == sourcetOnlineService@ServiceName,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> jointOnlinePurchaseDimOnlineService",
						"jointOnlinePurchaseDimOnlineService, aggregatetOnlinePurchase join(sourcetOnlineService@ServiceId == aggregatetOnlinePurchase@ServiceId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnlinePurchaseAggregate",
						"sourcetOnlinePurchase, sourcetMovies join(sourcetOnlinePurchase@MovieId == sourcetMovies@MovieId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> jointMoviesDimMovies",
						"jointMoviesDimMovies, sourceDimMovie join(sourcetMovies@MovieIdNK == sourceDimMovie@MovieIdNK,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMoviesOnlinePurchase",
						"sourcetOnlineService, joinMoviesOnlinePurchase join(sourcetOnlineService@ServiceId == sourcetOnlinePurchase@ServiceId,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnlineServiceMoviesPurchase",
						"joinOnlineServiceMoviesPurchase, sourceDimOnlineService join(sourcetOnlineService@ServiceCode == sourceDimOnlineService@ServiceCode",
						"     && sourcetOnlineService@ServiceName == sourceDimOnlineService@ServiceName,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinFinall",
						"FinalSelect derive(TransactionDate = replace(toString(toDate(TransactionDate)), '-', '')) ~> derivedColumns",
						"joinFinall select(mapColumn(",
						"          OnlineServiceKey = ServiceKey,",
						"          MovieKey,",
						"          Price,",
						"          TransactionId,",
						"          TransactionDate",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FinalSelect",
						"joinOnlinePurchaseAggregate sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          MonthKey,",
						"          OnlineServiceKey = ServiceKey,",
						"          PurchaseAmount,",
						"          PurchaseQuantity",
						"     )) ~> sinkFactOnlinePurchaseMonthlySnapshot",
						"derivedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          OnlineServiceKey,",
						"          MovieKey,",
						"          Price,",
						"          TransactionId,",
						"          DateKey = TransactionDate",
						"     )) ~> FactOnlinePurchase"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_moviesAzureSQLDB')]",
				"[concat(variables('factoryId'), '/datasets/DS_DataMartAzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLCredential')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/e9c493a7-dccb-412d-9f35-53b4d4caa379/resourceGroups/azure-mentoring-tr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzureSQLManagedIdentity"
				}
			},
			"dependsOn": []
		}
	]
}