pipeline/AzureMentoring_Module7_JSON_To_AzureSQL.json
{
	"name": "AzureMentoring_Module7_JSON_To_AzureSQL",
	"properties": {
		"activities": [
			{
				"name": "Copy data from Blob to Azure SQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "source_filename",
								"value": "$$FILEPATH"
							},
							{
								"name": "pipelineId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.online_purchase;",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['serviceName']"
								},
								"sink": {
									"name": "online_service_name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['serviceCode']"
								},
								"sink": {
									"name": "online_service_code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['movieId']"
								},
								"sink": {
									"name": "movie_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['userId']"
								},
								"sink": {
									"name": "user_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['price']"
								},
								"sink": {
									"name": "price",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['id']"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['transaction']['datetime']"
								},
								"sink": {
									"name": "transaction_date",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['source_filename']"
								},
								"sink": {
									"name": "source_filename",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['pipelineId']"
								},
								"sink": {
									"name": "pipelineId",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DLOnline",
						"type": "DatasetReference",
						"parameters": {
							"folder": "raw/online"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_moviesAzureSQLDB",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "online_purchase",
							"schemaname": "stg"
						}
					}
				]
			},
			{
				"name": "SP spPopulateOnline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data from Blob to Azure SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateOnline]",
					"storedProcedureParameters": {
						"getdate": {
							"value": {
								"value": "@variables('getdate')",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_MoviesAzureSqlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Move movies files into raw_online_archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP spPopulateOnline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "LS_azurementoringdatalaketr",
								"type": "LinkedServiceReference"
							},
							"path": "log"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DLOnline",
						"type": "DatasetReference",
						"parameters": {
							"folder": "raw/online"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DLOnline",
						"type": "DatasetReference",
						"parameters": {
							"folder": "raw/online/archive"
						}
					}
				]
			},
			{
				"name": "Delete from blob raw movies",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move movies files into raw_online_archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_DLOnline",
						"type": "DatasetReference",
						"parameters": {
							"folder": "raw/online/"
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "LS_azurementoringdatalaketr",
							"type": "LinkedServiceReference"
						},
						"path": "log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": false,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"getdate": {
				"type": "String",
				"defaultValue": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-21T16:12:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}