pipeline/AzureMentoring_Module11_logicApp.json
{
	"name": "AzureMentoring_Module11_logicApp",
	"properties": {
		"activities": [
			{
				"name": "WebHTTPPostUrlLogApp",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web get URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@string(activity('Web get URL').output.value)",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n  \"receiver\" : \"@{pipeline().parameters.receiver}\",\n  \"pipelineName\" : \"@{pipeline().Pipeline}\", \n  \"pipelineStatus\" : \"@{activity('Execute Pipeline Succeed').Status}\", \n  \"TriggerType\" : \"@{pipeline().TriggerType}\",\n  \"RunID\": \"@{pipeline().RunId}\",\n  \"ExecutionStartTime\": \"@{formatDateTime(activity('Execute Pipeline Succeed').ExecutionStartTime, 'yyyy-MM-dd HH:mm:ss')}\" ,\n  \"ExecutionEndTime\": \"@{formatDateTime(activity('Execute Pipeline Succeed').ExecutionEndTime, 'yyyy-MM-dd HH:mm:ss')}\" ,\n  \"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n  \"errorMessage\": \"@{variables('ErrorMessage')}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web get URL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Succeed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.HTTPPostUrlLogApp",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Execute Pipeline Succeed",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AzureMentoring_Module10_Succeed",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable Error message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Succeed",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@concat('An error: ', activity('Execute Pipeline Succeed').error.Message)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "tatsiana_ramanenka1@epam.com"
			}
		},
		"variables": {
			"ErrorMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-21T14:29:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}