pipeline/AzureMentoring_Module5.json
{
	"name": "AzureMentoring_Module5",
	"properties": {
		"activities": [
			{
				"name": "Get movies file names from blob",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lkp_TruncateSTG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_blobmovies",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Copy each file from blob into data lake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get movies file names from blob",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get movies file names from blob').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from csv into stg Azure SQL DB_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": {
												"value": "@replace(string(item().name),'.csv','')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_blobmovies_comma",
									"type": "DatasetReference",
									"parameters": {
										"filename": "@string(item().name)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_moviesAzureSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@if(contains(string(item().name), 'rating')\n, 'ratings'\n, replace(string(item().name),'.csv','')\n)",
											"type": "Expression"
										},
										"schemaname": "stg"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lkp_TruncateSTG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE stg.credits;\nSELECT COUNT(1) FROM stg.credits; \nTRUNCATE TABLE stg.movies_metadata;\nSELECT COUNT(1) FROM stg.movies_metadata;\nTRUNCATE TABLE stg.ratings;\nSELECT COUNT(1) FROM stg.rating;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_moviesAzureSQLDBNoPrmt",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lkp Get SPs",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy each file from blob into data lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT trim([value]) AS value FROM \nstring_split ( 'dbo.spPopulateCast, dbo.spPopulateCompany, dbo.spPopulateGenre, dbo.spPopulateMovies, dbo.spPopulateMoviesCastMap, dbo.spPopulateMoviesCompanyMap, dbo.spPopulateMoviesGenreMap, dbo.spPopulateMovieStatus, dbo.spPopulatetRatings', ',')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_moviesAzureSQLDBNoPrmt",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachLoad fromSTGintoDBO",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp Get SPs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp Get SPs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SPs load from stg into dbo",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@string(item().value)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MoviesAzureSqlDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"source_filename": {
				"type": "String",
				"defaultValue": "credits"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-06T10:32:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}